# Unit 4 Lab: Querying a Relational Database with SQL

In this lab you will:

- Connect to a small **SQLite** database.
- Explore tables and understand keys/relationships.
- Write core SQL queries used in real analyst interviews:
  - `SELECT`, `WHERE`, `ORDER BY`
  - `JOIN`
  - `GROUP BY` with aggregates

---

## 1. Connect to the database

We assume a SQLite database file `foundations.db` will live in the
`datasets` folder. (If it does not exist yet, your tutor will provide it.)

```python
import sqlite3
from pathlib import Path
import pandas as pd

BASE_PATH = Path("..") / "datasets"
DB_PATH = BASE_PATH / "foundations.db"

conn = sqlite3.connect(DB_PATH)
conn
```

**Task 1.1** – Run the cell and confirm a connection object is created.

---

## 2. Inspect available tables

```python
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql_query(query, conn)
tables
```

**Task 2.1** – Note down the table names. Common examples:

- `customers`
- `orders`
- `products`
- `payments`

---

## 3. Simple SELECT and WHERE

```python
pd.read_sql_query("SELECT * FROM customers LIMIT 5;", conn)
```

**Task 3.1** – Write and run a query that:

- Selects all customers from a particular **country** (e.g. 'UK' or 'US').
- Returns only the columns `customer_id`, `country`, `segment`.

Write your SQL in a string and pass it to `pd.read_sql_query`.

---

## 4. ORDER BY

```python
query = """
SELECT *
FROM orders
ORDER BY order_date DESC
LIMIT 10;
"""

pd.read_sql_query(query, conn)
```

**Task 4.1** – Modify the query to sort by **order_value** from highest to
lowest and limit to 20 rows.

---

## 5. JOIN between tables

```python
query = """
SELECT o.order_id,
       o.customer_id,
       o.order_value,
       c.country,
       c.segment
FROM orders AS o
JOIN customers AS c
  ON o.customer_id = c.customer_id
LIMIT 10;
"""

pd.read_sql_query(query, conn)
```

**Task 5.1** – Explain in a Markdown cell what this join is doing and why we
need it.

Then adapt the query to answer:

- "What is the total order value per customer segment?"

Hint: use `GROUP BY c.segment` and `SUM(o.order_value)`.

---

## 6. Interview-style question

Write a query that answers this question for a hiring manager:

> "For each country, what is the total revenue and number of orders in the
>  last 30 days?"

You may need date filters depending on how the data is stored. If your
sample data has only a few dates, you can still group by country and show
total revenue and count of orders.

---

## 7. Reflection

In a short Markdown cell, answer:

1. Why is understanding **keys and relationships** between tables so
   important when writing joins?
2. Give one example of a mistake that could happen if you join tables
   incorrectly?

# Unit 4 Lab: Querying a Relational Database with SQL

In this lab you will:

- Connect to a small **SQLite** database.
- Explore tables and understand keys/relationships.
- Write core SQL queries used in real analyst interviews:
  - `SELECT`, `WHERE`, `ORDER BY`
  - `JOIN`
  - `GROUP BY` with aggregates

---

## 1. Connect to the database

We assume a SQLite database file `foundations.db` will live in the
`datasets` folder. (If it does not exist yet, your tutor will provide it.)

```python
import sqlite3
from pathlib import Path
import pandas as pd

BASE_PATH = Path("..") / "datasets"
DB_PATH = BASE_PATH / "foundations.db"

conn = sqlite3.connect(DB_PATH)
conn
```

**Task 1.1** – Run the cell and confirm a connection object is created.

---

## 2. Inspect available tables

```python
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql_query(query, conn)
tables
```

**Task 2.1** – Note down the table names. Common examples:

- `customers`
- `orders`
- `products`
- `payments`

---

## 3. Simple SELECT and WHERE

```python
pd.read_sql_query("SELECT * FROM customers LIMIT 5;", conn)
```

**Task 3.1** – Write and run a query that:

- Selects all customers from a particular **country** (e.g. 'UK' or 'US').
- Returns only the columns `customer_id`, `country`, `segment`.

Write your SQL in a string and pass it to `pd.read_sql_query`.

---

## 4. ORDER BY

```python
query = """
SELECT *
FROM orders
ORDER BY order_date DESC
LIMIT 10;
"""

pd.read_sql_query(query, conn)
```

**Task 4.1** – Modify the query to sort by **order_value** from highest to
lowest and limit to 20 rows.

---

## 5. JOIN between tables

```python
query = """
SELECT o.order_id,
       o.customer_id,
       o.order_value,
       c.country,
       c.segment
FROM orders AS o
JOIN customers AS c
  ON o.customer_id = c.customer_id
LIMIT 10;
"""

pd.read_sql_query(query, conn)
```

**Task 5.1** – Explain in a Markdown cell what this join is doing and why we
need it.

Then adapt the query to answer:

- "What is the total order value per customer segment?"

Hint: use `GROUP BY c.segment` and `SUM(o.order_value)`.

---

## 6. Interview-style question

Write a query that answers this question for a hiring manager:

> "For each country, what is the total revenue and number of orders in the
>  last 30 days?"

You may need date filters depending on how the data is stored. If your
sample data has only a few dates, you can still group by country and show
total revenue and count of orders.

---

## 7. Reflection

In a short Markdown cell, answer:

1. Why is understanding **keys and relationships** between tables so
   important when writing joins?
2. Give one example of a mistake that could happen if you join tables
   incorrectly.